.map-container {
  padding-top: 1rem;
  height: 57rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("../../../public/imgs/WIT-HOME-2021-carte.png");
  h3 {
    text-align: center;
    color: #00f4cb;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
